<footer class='pt-4 pt-md-5 border-top'>
  <div class='container'>
    <div class='row'>
      <div class='col'>
        <a href='https://github.com/trhgquan'>@trhgquan</a>
        <small class='d-block mb-3 text-muted'>&copy; 2022</small>
      </div>
      <div class='col'>
        <p class='text-muted'>A project in Applied Natural Language Processing (CSC15008). 
        <p class='text-muted'>Project repository <a href='https://github.com/trhgquan/fakenews-detection'>on GitHub</a></p>
      </div>
      <div class='col'>
        <p class='text-muted'>VNUHCM - University of Science, Spring 2022</p>
      </div>
    </div>
  </div>
</footer>
